<%- include("templates/header") %>

<div class="page">
  <div class="page-header">
    <h1><%= process.env.APP_NAME %></h1>
    <h2><%= process.env.APP_DESCRIPTION %></h2>
  </div>
  <h3>Available Overlays:</h3>
  <ul>
    <li><a target="_blank" href="/overlay/alerts">Alerts</a></li>
    <li><a target="_blank" href="/overlay/stream-border">Stream Border</a></li>
    <li><a target="_blank" href="/overlay/tv-guide">TV Guide</a></li>
    <li><a target="_blank" href="/overlay/venom-coin">Venom Coin</a></li>
  </ul>
</div>

<%- include("templates/footer") %>