<!DOCTYPE html>
<html lang="en">
<head>
<title><%= process.env.APP_NAME %></title>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="<%= process.env.APP_NAME %> | <%= process.env.APP_DESCRIPTION %>" />
<meta name="author" content="v i p e r" />
<link rel="stylesheet" href="/assets/css/styles.css" /><% if( typeof(loadSocket) != "undefined") { %>
<script src="/socket.io/socket.io.js"></script><% } %>
</head>
<body>