<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>VipOS MK V</title>
  <meta name="description" content="VipOS MK V | Chat Bot + Overlay Platform" />
  <meta name="author" content="v i p e r" />

  <link rel="stylesheet" href="/assets/css/styles.css" />

</head>

<body>