<%- include("../templates/header") %>

<div id="text-alert-header">
  <div id="text-alert-header-content">
    <h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eget ullamcorper nunc, a interdum ex. Praesent mauris diam, ultricies vitae ante nec, interdum cursus lectus.</h1>
  </div>
</div>

<div id="text-alert-bg">
<div class="background left"></div>
<div class="background right"></div>
</div>

<script type="text/javascript" src="/assets/js/alerts.js"></script>

<%- include("../templates/footer") %>