<%- include("../templates/header") %>

<div id="animated-bg" class="random1">
  <div id="bg-chroma-key"></div>
</div>

<script type="text/javascript" src="/assets/js/stream-border.js"></script>

<%- include("../templates/footer") %>