<%- include("../templates/header") %>

<div id="viper-tv_guide">

<div id="green-screen"></div>

<table>
<thead>
<tr><th id="current-time"></th><th id="slot-1"></th><th id="slot-2"></th><th id="slot-3"></th><th id="slot-4"></th></tr>
</thead>
<tbody id="tv-guide-body">
<tr><td class="channel-title">2<br />GOLD</td><td>GET REKT<br />MARK 4 STYLE</td><td>THIS OLD<br />GUITAR</td><td>CHEWBACCA<br />NOISES</td><td>DEADLY<br />REPTILE PALS</td></tr>
<tr><td class="channel-title">3<br />LIMEY</td><td>THE RETRO<br />LOUNGE</td><td>L E G E N D</td><td>FARMING<br />HOUR</td><td>BLIMEY<br />TIMEY</td></tr>
<tr><td class="channel-title">4<br />FINALBOSS</td><td>FF XIV<br />ADVENTURES</td><td colspan="2">DIABLO FAMILY HOUR</td><td>MONSTER<br />HUNTERS</td></tr>
<tr><td class="channel-title">5<br />MADRUSH</td><td>HEROES OF<br />DESTINY 2</td><td>RAID SHADOW<br />CRACK</td><td>WRASSLIN'<br />STREAMERS</td><td>COFFEE ADDICTS<br />ANONYMOUS</td></tr>
<tr><td class="channel-title">6<br />ICEQUEEN</td><td>FIRE &amp; ICE:<br />A LOVE STORY</td><td colspan="2">DR BAN-LOVE or:<br />HOW I LOVED THE HAMMER</td><td>FORTNITE FRONTIERS</td></tr>
<tr><td class="channel-title">7<br />TRWZDDD</td><td>CHRONO FIGURE<br />IT ALL OUT</td><td>CEREAL<br />KILLER</td><td>BUDTENDERS<br />X-TREME</td><td>STASIS<br />FACTORY</td></tr>
<tr><td class="channel-title">8<br />GEORDIE</td><td colspan="2">SOMEWHAT HALF-ENGLISH<br />BREAKFAST LUNCLHES</td><td>WAYGU OF<br />THE FORCE</td><td>LOCAL<br />HERO</td></tr>
<tr><td class="channel-title">9<br />TWC</td><td colspan="2">WEATHER CHANNEL</td><td>JOHNNY TSUNAMI<br />RECAP</td><td>WEATHER<br />CHANNEL</td></tr>
<tr><td class="channel-title">10<br />KITTYYYY</td><td>P0RNHUB W/ FRIENDS</td><td>BABE STATION</td><td>GTA ROLE PLAY HOUR</td><td>REALMS O' MINECRAFT</td></tr>
<tr><td class="channel-title">11<br />KLUTCH</td><td>BOTTOM<br />GEAR</td><td>BROKEN<br />MONITORS</td><td>TEAM<br />SWAPPING!</td><td>ANTHONY<br />WATCH</td></tr>
<tr><td class="channel-title">12<br />FANTASY</td><td>STREAMER<br />SIMS</td><td>WHAT IS<br />HAPPENING?</td><td>OKAY,<br />BYEEEEEEEEEE</td><td>FORTNITE<br />HUNTER</td></tr>
<tr><td class="channel-title">13<br />WILDCARD</td><td>LEAGUE OF<br />ROCKET CARS</td><td>SURVIVING<br />GREEN HELL</td><td>HEIST LOVE<br />FEAT BOB</td><td>SEXY<br />TIME 😉</td></tr>
<tr><td class="channel-title">14<br />JOEYSCARY</td><td>CHEEKI<br />BREEKI</td><td>CANADA:<br />MAPLE TAP 411</td><td colspan="2">BOATS &amp; CASTLES<br />OF THE RICH &amp; FAMOUS</td></tr>
<tr><td class="channel-title">15<br />C3LTIC</td><td>MORTAL<br />PORTALS</td><td>ACME<br />ANVIL HOUR</td><td>BOT HUNTER<br />5000</td><td>SWEET STREAM<br />STEAM DECK</td></tr>
<tr><td class="channel-title">16<br />JOLA</td><td>MAMA JOLA'S<br />CANNOLAS</td><td colspan="2">DOING YOUR PART<br />FOR GREAT ART</td><td>PUDDLE<br />JUMPING</td></tr>
<tr><td class="channel-title">17<br />VIPER</td><td colspan="2">THE LEGEND OF THE<br />LOST STEAK &amp; EGGS</td><td>VIPETTE<br />MAKEOVERS</td><td>STARSHIP<br />BLOOPERS</td></tr>
<tr><td class="channel-title">18<br />ROG3RBOT</td><td>PIRAT3<br />SLOOPS</td><td>POK3RBOT<br />CHAMPIONS</td><td>DANCE PARTY<br />EXTRAVAGANZA</td><td>SNEEZ3BURG3R<br />CHEES3BURG3R</td></tr>
<tr><td class="channel-title">19<br />NOGAR</td><td>SHUT THE<br />GUNDAM DOOR</td><td colspan="2">NOGAR'S SUPER TOP<br />FIFTY COUNTDOWN</td><td>HORROR<br />ADORERS</td></tr>
<tr><td class="channel-title">20<br />DIASEPH</td><td>TUNEFUL<br />TUNESDAY</td><td>ROAD<br />TRIPPIN'</td><td colspan="2">THE FACE MACE'S<br />POWER PARAKEET HOUR</td></tr>
<tr><td class="channel-title">21<br />CONCEPT</td><td colspan="2">FISH AND CHIPS WITH JERMARINE</td><td colspan="2">PHOTOS OF FISH AND CHIPS WITH JERMARINE</td></tr>
<tr><td class="channel-title">22<br />SHOE</td><td colspan="3">AUDIO ANOMALIES</td><td>SHOE'S<br />CLUES</td></tr>
<tr><td class="channel-title">23<br />MIGALICI</td><td>BRAIN REBOOTS</td><td>HOW DOES I SHOT WEB?</td><td colspan="2">YES, WE WILL KILL GOD<br />JRPG POWER HOUR</td></tr>
<tr><td class="channel-title">24<br />SN4K3Y</td><td>SNEAKY SNAKE-TASTIC</td><td>THE PERFECT SPICE BAG</td><td>RETIRE FROM FORTNITE</td><td>A GUIDE TO BEING SNEAKY</td></tr>
<tr><td class="channel-title">25<br />SSTATUE</td><td>OVERWATCHING FOR OMNICS</td><td colspan="2">A CAT TOOK<br />OVER THIS CHANNEL, HELP!</td><td>SAVING THE CHRONOVERSE</td></tr>
<!-- <tr><td class="channel-title"><br /></td><td></td><td></td><td></td><td></td></tr> -->
<tr class="viperverse"><td colspan="5">VIPERVERSE STUDIOS</td></tr>
</tbody>
</table>

</div>

<script type="text/javascript" src="/assets/js/tv-guide.js"></script>

<%- include("../templates/footer") %>