/* R E S E T
-------------------------------------------------------------------------------*/
@use 'imports/reset';

/* F O N T S
-------------------------------------------------------------------------------*/
@use 'imports/fonts';

/* M A I N - S T Y L E S
-------------------------------------------------------------------------------*/
html,
body {
  height: 1080px;
  overflow: hidden;
  width: 1920px;
}

body {
  font-size: 16px;
  font-family:
  var(--font-system);
  color: var(--text-color);
}

a {color: var(--featured-color);}
a:hover {color: var(--featured-color-hover);}

.page {
  background: #7a3291 url("../img/noise-transparent.png") repeat 0 0;
  color:#fff;
  height: 100%;
  text-align: center;
  .page-header {
    background: url('../img/sun_bg.png') no-repeat center;
    background-size: 300px 300px;
    padding: 100px 0 75px;
  }
  h1, h2, h3 {
    font-weight: bolder;
    text-transform: uppercase;
  }
  h1 {
    font-family: 'NeoNoire', Arial;
    font-size: 100px;
    padding: 0 0 20px;
    text-shadow: #00fffc -3px 3px, #ff00f0 -6px 6px;
  }
  h2 {
    font-size: 30px;
    font-style: italic;
    letter-spacing: -0.5px;
    text-shadow: #333 -2px 2px;
  }
  h3 {
    font-size: 15px;
    letter-spacing: 1px;
    padding: 0 0 15px;
  }

  ul {
    li {
      a {
        color:#00fffc;
        display: inline-block;
        font-weight: bold;
        padding: 15px 0;
        &:hover {
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
}

/* T V - G U I D E
-------------------------------------------------------------------------------*/
#tv-guide {
  background: #efefef;
  height: 1080px;
  overflow: hidden;
  position: absolute;
  width: 1920px;

  #green-screen {
    background: url('../img/purple_bg_2.jpg');
    background-position-y: 50%;
    background-size: cover;
    height: 50%;
    position: absolute;
    width: 100%;
    z-index: 10;
  }

  table {
    position: relative;
    top: 50%;
    width: 100%;

    th,
    td {
      border-top: 5px solid #787887;
      border-left: 5px solid #b3b7d6;
      border-right: 5px solid #000252;
      border-bottom: 5px solid #07083b;
      font-size: 45px;
      font-weight: bold;
      font-family: 'Arial', 'Calibri', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      letter-spacing: -3px;
      line-height: 50px;
      padding: 7px 10px 5px;
      text-shadow: 3px 3px black;
    }

    thead {
      position: relative;
      z-index: 1;

      th {
        background-color: #112385;
        color: #e2d560;
        text-align: center;
        width: 21.25%;
      }
      th#current-time {
        color: #fff;
        width: 15%;
      }
    }

    tbody {
      animation: tvguide 60s linear infinite;
      position: relative;

      tr { width: 100%; }

      td {
        background-color: #0f2555;
        color: #fff;

        &.channel-title {
          color: #e2d560;
          text-align: center;
        }
      }

      tr.viperverse {
        td {
          background-color: #05122c;
          font-family: 'NeoNoire', Arial;
          font-size: 100px;
          letter-spacing: 0px;
          padding: 100px 10px;
          text-align: center;
          text-shadow: -3px 3px #00fffc, -6px 6px #ff00f0, -9px 9px #000;
        }
      }
    }
  }
}

@keyframes tvguide {
	0% {
    top: 0;
	}
  100% {
    top: -3188px; //( + 122px for each new row added )
  }
}

/* T E X T - A L E R T S
-------------------------------------------------------------------------------*/
#text-alert-bg {
  align-items: center;
  display: flex;
  height: 1080px;
  justify-content: center;
  padding: 0;
  width: 1920px;

  div.background {
    position: absolute;;
    height:1080px;
    transition: all 0.2s;
    width: 960px;
    z-index: -10;

    &.left {
      background: url('../img/text_alert_bg_left_v3.jpg');
      left: -960px;
      top: 0;
      &.slide {
        left: 0px;
      }
    }

    &.right {
      background: url('../img/text_alert_bg_right_v3.jpg');
      left: 1920px;
      top: 0;
      &.slide {
        left: 960px;
      }
    }
  }
}

#text-alert-header {
  display: table;
  height: 1080px;
  position: absolute;
  width: 1920px;

  #text-alert-header-content {
    display: table-cell;
    vertical-align: middle;
    width: 1080px;

    h1 {
      color: #f0f0f0;
      font-family: 'NeoNoire', Arial;
      font-size: 40px;
      line-height: 60px;
      opacity: 0;
      text-align: center;
      text-shadow: -3px 3px #00fffc, -6px 6px #ff00f0, -9px 9px #000;
      transform: scale(0.5) rotate(0deg);
      transition: all 1s;
      word-spacing: 10px;

      &.fade {
        opacity: 1;
        transform: scale(1) rotate(-5deg);
      }
    }
  }
}

/* M E D I A - Q U E R I E S
-------------------------------------------------------------------------------*/
// @media screen and (max-width: 1000px) { }