/* R E S E T
-------------------------------------------------------------------------------*/
@use 'imports/reset';

/* F O N T S
-------------------------------------------------------------------------------*/
@use 'imports/fonts';

/* M A I N - S T Y L E S
-------------------------------------------------------------------------------*/
body {
  background-color: #ededed;
  font-size: 16px;
  font-family:
  var(--font-system);
  color: var(--text-color);
}

a {color: var(--featured-color);}
a:hover {color: var(--featured-color-hover);}

/* M E D I A - Q U E R I E S
-------------------------------------------------------------------------------*/
@media screen and (max-width: 1000px) { }